@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;700&display=swap");

html,
body {
	background-image: url("../images/flat-mountain-landscape-wallpaper-5120x2160_16.jpg");
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	font-family: "Poppins", sans-serif;
}

.background {
	margin: 30px;
	padding: 30px;
	height: 80%;
	width: 80%;
	overflow: scroll;
	display: flex;
	z-index: 2;
	background: #fef6e4cd;
	border-radius: 50px;
}
.background::before {
	content: "";
	position: absolute;
	inset: 0px;
	z-index: 3;
	mix-blend-mode: normal;
	filter: opacity(50%);
	pointer-events: none;
}

.center {
	margin: auto;
	display: flex;
	flex-direction: column;
	padding: 5rem;
	max-width: 800px;
	width: 100%;
}
.center--row:first-of-type {
	display: flex;
}
.center--row:first-of-type > div {
	flex: 1;
}
.center--row:last-of-type {
	display: block;
	margin-top: 180px;
	display: flex;
	flex-direction: column;
}
.center .title h1 {
	font-size: 3rem;
	font-weight: 700;
	line-height: 3.5rem;
	letter-spacing: 2px;
}
.center .title .note {
	color: #960a4b;
}
.center .title .ally {
	color: aquamarine;
}
.center .title p {
	color: #172c66;
	font-size: 1.25rem;
	margin-top: 10px;
}
.center .title button {
	border-radius: 20px;
	background: #fef6e4;
	border: none;
	margin-top: 25px;
	position: relative;
	padding: 10px 0;
	font-size: 1rem;
	box-sizing: border-box;
	cursor: pointer;
	z-index: 0;
}
.center .title button span {
	background: #fef6e4;
	border-radius: 2px;
	color: #001858;
	padding: 10px 15px;
}
.center .title button span a {
	text-decoration: none;
}
.center .title button:hover::after {
	box-shadow: #f3d2c1 0px 0px 10px 0px, #f582ae 0px 0px 20px 0px;
}
.center .title button::after {
	content: "";
	transition: box-shadow 0.3s ease-in;
	position: absolute;
	background: linear-gradient(to right, #f582ae, #8bd3dd);
	inset: -3px;
	border-radius: 5px;
	z-index: -1;
}
.center .card-container {
	position: relative;
}
.center .card-container .card {
	position: absolute;
	border-radius: 25px;
	padding: 15px 25px;
	color: #172c66;
	font-size: 1.25rem;
	display: flex;
	flex-direction: column;
	width: 250px;
	-webkit-backdrop-filter: blur(5px);
	backdrop-filter: blur(5px);
	box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}
.center .card-container .card--title {
	font-weight: 700;
}
.center .card-container .card--body {
	font-size: 1rem;
	margin: 10px 0;
}
.center .card-container .card--author {
	font-weight: 800;
	font-size: 0.75rem;
	margin-inline: auto 25px;
}
.center .card-container .card--one {
	background: rgba(243, 210, 193, 0.3333333333);
	top: -80px;
	left: -70px;
}
.center .card-container .card--two {
	background: rgba(139, 211, 221, 0.2666666667);
	top: 50px;
	right: -90px;
}
.center .card-container .card--three {
	background: rgba(245, 130, 174, 0.2666666667);
	bottom: -120px;
	left: 0px;
}
.center .menu-container h2 {
	margin-inline: auto;
	font-size: 1.5rem;
	font-weight: 800;
	color: #001858;
}
.center .menu-container .menu {
	margin-inline: auto;
	display: flex;
	margin-top: 20px;
	gap: 50px 25px;
}
.center .menu-container .menu--item {
	display: flex;
	flex-direction: column;
}
.center .menu-container .menu--item h3 {
	margin-inline: auto;
	font-size: 1.3rem;
	font-weight: 800;
	color: #001858;
}
.center .menu-container .menu--item ul {
	margin-top: 10px;
}
.center .menu-container .menu--item ul li {
	margin: 10px 0;
	font-weight: 700;
	font-size: 1rem;
	margin-top: 10px;
}

.cursor {
	position: absolute;
	z-index: 1;
	border-radius: 100%;
	background: radial-gradient(circle, #d9266b, #12c6de);
	width: 250px;
	height: 250px;
	left: 0;
	top: 0;
	pointer-events: none;
	opacity: 0;
	filter: blur(30px) opacity(30%);
	transition: opacity 1s ease-in-out;
}

@media (max-width: 600px) {
	.card-container {
		flex-direction: column;
	}
	.card-container .card {
		box-sizing: border-box;
		width: 100% !important;
	}
	.menu {
		flex-direction: column;
	}
}
@media (max-width: 1000px) {
	.center {
		box-sizing: border-box;
		padding: 50px 10px !important;
	}
	.center .center--row:first-of-type {
		flex-direction: column;
	}
	.center .center--row:first-of-type .card-container {
		margin-top: 25px;
		display: flex;
		gap: 15px;
	}
	.center .center--row:first-of-type .card-container .card {
		inset: initial !important;
		position: relative !important;
	}
	.center .menu-container {
		margin-top: 50px !important;
	}
} /*# sourceMappingURL=homePage.css.map */
