<!DOCTYPE html>
<html lang="pl">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Katalogi</title>
		<link rel="stylesheet" th:href="@{/css/catalogs.css}" />
		<link rel="stylesheet" href="../static/css/catalogs.css">
		<script src="https://kit.fontawesome.com/30b5c3e166.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			<div class="sidebar">
				<h1 class="note">Note<span class="ally">ally</span></h1>
				<div class="side-wrapper">
					<div class="side-title">SORT BY</div>
					<div class="side-menu">
						<a th:href="@{'/catalogs/ASC' }" th:value="1" th:text="'Name A-Z'"></a>
						<a th:href="@{'/catalogs/DESC' }" th:value="2" th:text="'Name Z-A'"></a>
						<a th:href="@{'/catalogs/notesASC' }" th:value="3" th:text="'Note Count ASC'"></a>
						<a th:href="@{'/catalogs/notesDESC' }" th:value="4" th:text="'Note Count DESC'"></a>
						<a th:href="@{'/catalogs/deleteFilters' }" th:value="5" th:text="'Delete Filters'"></a>
					</div>
				</div>
				<div class="line"></div>
				<div class="add-note anim" style="--delay: 0.2s">
					<a th:href="@{'/catalogs/' + 'createCatalog'}"><i class="fa-solid fa-folder-plus"></i></a>
				</div>
			</div>
			<div class="wrapper">
				<div class="header">
							<form class="search-bar" th:action="@{'/catalogs/search'}"
								  th:method="post">
								<input  type="text" id="search" name="search" placeholder="Search" />
								<button class="search" type="submit"><i class="fa-sharp fa-solid fa-magnifying-glass"></i></button>
							</form>

					<nav class="nav">
						<a th:if="${user.getRole().toString().equals('ADMIN')}" th:href="@{'/admin'}" class="nav-item" active-color="red">ADMIN</a>
						<a th:href="@{'/catalogs'}" class="nav-item is-active" active-color="pink">Catalogs</a>
						<a th:href="@{/logout}" class="nav-item" active-color="pink">Sign Out!</a>
						<span class="nav-indicator"></span>
					</nav>
				</div>
				<div class="main-container">
					<div class="anim main-catalog" style="--delay: 0.1s">
						<ul th:each="catalog : ${catalogs}">
							<div class="container-catalog">
								<li>
									<i class="fa-solid fa-folder"></i>
									<a th:href="@{'/catalogs/' + ${catalog.getId()}}" th:text="${catalog.getName()}">Nazwa Katalogu</a>
								</li>
								<div th:if="${catalog.getName() != 'default' && catalog.getName() != 'shared'}">
									<a th:href="@{'/catalogs/' + 'deleteCatalog/' + ${catalog.getId()}}"
										><i class="fa-solid fa-xmark"></i
									></a>

									<a th:href="@{'/catalogs/' + 'editCatalog/' + ${catalog.getId()}}"
										><i class="fa-regular fa-pen-to-square"></i
									></a>
								</div>
							</div>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<script type="text/javascript" th:src="@{/js/catalogs.js}"></script>
	</body>
</html>
