<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8" />
		<title>Create Note</title>

		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;700&display=swap" rel="stylesheet" />

		<script src="https://kit.fontawesome.com/30b5c3e166.js" crossorigin="anonymous"></script>
	</head>
	<body>
		<section>
			<div>
				<form
					th:action="@{'/' + ${catalog.user.id} + '/catalogs/' + ${catalog.id} + '/createNote'}"
					th:method="post"
					th:object="${note}">
					<h2 class="note">Create<span class="ally">Note</span></h2>
					<div class="input-box">
						<input type="text" id="title" name="title" th:field="*{title}" />
						<label for="title">Title</label>
					</div>

					<div class="input-box">
						<input type="text" id="content" name="content" th:field="*{content}" />
						<label for="content">Content</label>
					</div>

					<button type="submit">Create Note</button>
				</form>
			</div>
		</section>
	</body>
</html>
