<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Notatki</title>
</head>
<body>

<h1 th:text="'Katalog o Nazwie: ' + ${notes.get(0).catalog.getName()}"></h1>

<ul th:each="note, i: ${notes}">
    <h3 th:text="'Notatka '+${i.index+1}"></h3>
    <li th:text="'Name: '+${note.getTitle()}"></li>
    <li th:text="'Content: '+${note.getContent()}"></li>
    <li th:text="'Creation Date: '+${note.getDate()}"></li>
    <li th:text="'Link: '+${note.getLink()}"></li>
</ul>

</body>
</html>
